<h4>Sign Up</h4>
<br/>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.input :email, required: true, label: false, placeholder: 'email', class: 'btn' %>
  <%= f.input :password, required: true, label: false, placeholder: 'password', class: 'btn' %>
  <%= f.input :password_confirmation, required: true, label: false, placeholder: 'password', class: 'btn' %>
  <%= f.button :submit, 'Sign Up', class: 'enter-button float-right' %>
<% end %>
<br/>
<h6>
  <a data-toggle="tab" href="#signinForm">Sign In</a>
</h6>
