<div class="user-devise">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div class="user-form">
    <h4>Edit Course</h4>
    <br/>
    <%= simple_form_for current_course, url: instructor_course_path(current_course) do |f| %>
      <%= f.input :title, required: true, label: false, placeholder: 'title' %>
      <%= f.input :description, required: true, label: false, placeholder: 'description' %>
      <%= f.input :cost, required: true, label: false, placeholder: 'cost' %>
      <%= f.input_field :image, class: 'enter-button float-left' %>
      <%= f.submit  'Update Course', class: 'enter-button' %>
    <% end %>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>