<script>
  $(function() {
    $('.lessons').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: {lesson: {row_order_position: ui.item.index()}}
        });
      }
    });
    $('.sections').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: {section: {row_order_position: ui.item.index()}}
        });
      }
    });
  });
</script>

<div class="course-page">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div>
    <div>
      <br/>
      <br/>
      <h3 class="float-right">
        <span class="badge badge-pill badge-default">
          <%= number_to_currency current_course.cost %>
        </span>
      </h3> 
      <h3><%= current_course.title %></h3>
      <br/>
      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">
          <%= image_tag current_course.image.url %>
        </div>
      </div>
      <br/>
      <p class='float-right'>
      <b><%= link_to 'Edit', edit_instructor_course_path(current_course), class: 'edit-color' %> | <%= link_to 'Delete Course', instructor_course_path(current_course), method: :delete, data: {confirm: 'Are you sure you want to delete is entry?'}, class: 'delete-color' %></b>
      </p>    
      <%= current_course.description %>
      <br/>
      <br/>
      <%= link_to 'Preview as Student', course_path(current_course), class: 'enter-button float-right' %>
      <%= link_to 'Add Section', new_instructor_course_section_path(current_course), class: 'enter-button float-left' %>
      <br/>
      <br/>
      <hr/>
    </div>
    <div>
      <div>
        <ul class="sections">
          <% current_course.sections.rank(:row_order).each do |section| %>
            <li data-update-url="<%= instructor_course_section_path(current_course, section) %>">
              <div>                
                <p class='float-right'>
                  <%= link_to 'Edit', edit_instructor_course_section_path(current_course, section), class: 'edit-color' %> | <%= link_to 'Delete Section', instructor_course_section_path(current_course, section), method: :delete, data: {confirm: 'Are you sure you want to delete is entry?'}, class: 'delete-color' %>
                </p>
                <h3><i class="fa fa-arrows-alt grab-section"></i><%= section.title %></h3>
                <br/>
                <%= link_to 'Add Lesson', new_instructor_section_lesson_path(section), class: 'enter-button float-left' %>
                  <br/>
                  <br/>
                  <br/>
                  <ul class="lessons course-sections">
                    <% section.lessons.rank(:row_order).each do |lesson| %>
                    <li data-update-url="<%= instructor_section_lesson_path(section, lesson) %>">
                      <h3><i class="fa fa-arrows-alt grab-lesson"></i></h3>
                      <div>
                        <p class='float-right'>
                         <%= link_to 'Edit', edit_instructor_section_lesson_path(section, lesson), class: 'edit-color' %> | <%= link_to 'Delete Lesson', instructor_section_lesson_path(section, lesson), method: :delete, data: {confirm: 'Are you sure you want to delete is entry?'}, class: 'delete-color' %>
                        </p>
                        <p>
                          <h4><%= lesson.title %></h4>
                          <br/>
                          <%= lesson.subtitle %>
                          <br/>
                          <br/>
                          <div class="aspect-ratio-outer">
                            <div class="aspect-ratio-inner">
                              <img src="<%= lesson.image %>"/>
                            </div>
                          </div>
                        </p>
                      </div>
                    </li>
                  <% end %>
                </ul>
                <br/>
                <hr/>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>