<div class="single-page">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div>
    <br/>
    <br/>
    <div class="float-right left-right-icon">
      <% if current_lesson.previous_lesson.present? %>
        <%= link_to lesson_path(current_lesson.previous_lesson) do %>
          <span class="fa fa-arrow-circle-left left-right-icon"></span>
        <% end %>
      <% end %>
      <% if current_lesson.next_lesson.present? %>
        <%= link_to lesson_path(current_lesson.next_lesson) do %>
          <span class="fa fa-arrow-circle-right left-right-icon"></span>
        <% end %>
      <% end %> 
    </div>
    <h3><%= current_lesson.title %></h3>
    <p><%= current_lesson.subtitle %></p>
    <div class="aspect-ratio-outer">
      <div class="aspect-ratio-inner">
        <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" poster="<%= current_lesson.image.url %>" data-setup="{}">
          <source src="<%= current_lesson.video.to_s %>" type='video/mp4'>
          <noscript>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </noscript>
        </video>
      </div>
    </div>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>