<div class="user-devise">
  <div></div>
    <div></div>
      <div></div>
        <div></div>
          <div class="user-form">
            <table>
              <tr>
                <td>
                  <h4>Sign In</h4>
                  <br/>
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <%= f.input :email, required: true, label: false, placeholder: 'email', class: 'btn' %>
                    <%= f.input :password, required: true, label: false, placeholder: 'password', class: 'btn' %>
                    <%= f.button :submit, 'Sign in', class: 'enter-button' %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>
                  <h6><%= render "devise/shared/links" %></h6>
                </td>
              </tr>
            </table>
          </div>
        <div></div>
      <div></div>
    <div></div>
  <div></div>
</div>
