<div class="modal fade" id="editLessonModal" tabindex="-1" role="dialog" aria-labelledby="editLessonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-form">
        <h4>Edit Lesson</h4>
        <br/>
        <%= simple_form_for @lesson, url: '#', html: {id: 'editLessonForm'} do |f| %>
          <%= f.input :title, required: true, label: false, placeholder: 'title' %>
          <%= f.input :subtitle, required: true, label: false, placeholder: 'subtitle' %>
          <%= f.input_field :video, class: 'enter-button float-left' %>
          <%= f.submit 'Update Lesson', class: 'enter-button float-right' %>
          <br/>
          <br/>
          <p>Update Video</p>
          <%= f.input_field :image, class: 'enter-button float-left' %>
          <br/>
          <br/>
          <p>Update Video Still</p>
        <% end %>
      </div>
    </div>
  </div>
</div>