<div class="single-page">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div class="user-form">
    <% if current_user && current_user.enrolled_in?(@course) %>
      <b class="enrolled float-right">Enrolled … ☻</b>
    <% else %>
      <h3 class="float-right">
        <span class="badge badge-pill badge-default">
          <%= number_to_currency @course.cost %>          
        </span>
      </h3>
    <% end %> 
    <h3><%= @course.title %></h3>
    <br/>
    <div class="aspect-ratio-outer">
      <div class="aspect-ratio-inner">
        <%= image_tag @course.image.url %>
      </div>
    </div>
    <br/>      
    <% if current_user && current_user == @course.user %>
      <%= link_to 'Administer', instructor_course_path(@course), class: 'enter-button' %>
    <% elsif @course.user && current_user.enrolled_in?(@course) %>
    <% else %>
      <%= link_to 'Enroll', course_enrollments_path(@course), method: :post, class: 'enter-button' %>  
    <% end %>
    <p><%= @course.description %></p>
    <br/>
    <hr/>
    <div>
    <ol>
      <% @course.sections.each do |section| %>
        <li>
          <div>
            <h3><%= section.title %></h3>
            <br/>
            <p>
              <% section.lessons.each do |lesson| %>
                <%= link_to lesson_path(lesson) do %>
                  <h4><%= lesson.title %></h4>
                  <br/>
                  <%= lesson.subtitle %>
                  <br/>
                  <br/>
                  <div class="aspect-ratio-outer">
                    <div class="aspect-ratio-inner">
                      <img src="<%= lesson.image %>"/>
                    </div>
                  </div>
                <% end %>
                <br/>
              <% end %>
            </p>
            </div>
          <hr/>
        </li>
      <% end %>
    </ol>
    </div>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>