<!DOCTYPE html>
<html>
  <head>
    <title>Videoedify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">
  </head>
  <body>
    <div class="app-wrapper">

      <header class="app-header">

        <div class="gradient">
          <%= render file: "app/assets/images/rgb.svg" %>       
        </div>

        <div class="logo-green">                            
          <a href="/#">
            <%= render file: "app/assets/images/logo-green.svg" %>
          </a>          
        </div>

        <div class="courses">
          <%= link_to 'See All Courses', courses_path %>
        </div>

        <div class="hamburger">
          <div class="hamburger-icon">
            <%= render file: "app/assets/images/hamburger-icon.svg" %>          
            <div class="header-links">
              <ul class="item-list">
                <li class="item active">
                  <%= link_to 'Sign Up', new_user_registration_path %>
                </li>
                <li class="item">
                  <%= link_to 'Sign In', new_user_session_path %>
                </li>
                <li class="item">
                  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
                </li>
              </ul>          
            </div>
          </div>
        </div>

        <div class="search float-right">
          <form>
            <input class="search-box" type="text" placeholder="search">
            <button class="search-icon" type="submit">Search</button>
          </form>
        </div>

      </header>

      <div class="app-content">
        <% if notice.present? %>
          <p class="alert alert-info"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div> 

      <footer class="app-footer">
        <div class="bottom-links">
          <div class="more">
            <a>more</a>
          </div>
          <ul>
            <li>
              <a>Social</a>             
            </li>
            <li>
              <a>About</a>
            </li>
            <li>
              <a>Contact</a>
            </li>
            <li>
              <a>Team</a>
            </li>
            <li>
              <a>Careers</a>
            </li>
            <li>
              <a>Teachers</a>
            </li>
            <li>
              <%= link_to 'Teach a Course', new_instructor_course_path %>
            </li>
            <li>
              <a>View Dashboard</a>
            </li>
          </ul>
        </div>       
      </footer>
     
    </div>
    <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </body>
</html>